body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffefe;
    color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
}


main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    width: 15%;
    height: 15%;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    top: 95%;
}




